<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="mt-4 text-center">You can register here!</h2>
      <h3 class="mt-2">You have to choose a unique username and a password.</h3>
      <div class="card mt-4">
        <div class="card-header bg-primary text-white">
          <h3 class="text-center">Sign Up</h3>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onRegister()" class="form">
            <div class="form-group mt-3">
              <label for="username">Username</label>
              <input type="text" id="username" name="username" [(ngModel)]="user.username" class="form-control" required>
            </div>

            <div class="form-group mt-3">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" [(ngModel)]="user.password" class="form-control" required>
            </div>

            <div class="form-group mt-3">
              <label for="password-again">Password Again</label>
              <input type="password" id="password-again" name="passwordAgain" [(ngModel)]="user.passwordAgain" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary btn-block mt-4">Sign Up</button>
          </form>
          <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{errorMessage}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
