<div class='card'>
  <div class='card-header'>
    Test products
  </div>
  <div class='card-body'>
    <div class='row'>

      <div class='col-md-4'>

      </div>
    </div>
    <div class='row'>
      <div class='col-md-6'>

      </div>
    </div>
    <div class='table-responsive'>
      <table class='table'
             *ngIf='products.length'>
        <thead>
        <tr>
          <th>Code
            <button (click)="onSortBy('code')">
              <i *ngIf="codeArrow" class="fa fa-arrow-up"></i>
              <i *ngIf="!codeArrow" class="fa fa-arrow-down"></i>
            </button>
          </th>
          <th>Product
            <button (click)="onSortBy('name')">
              <i *ngIf="nameArrow" class="fa fa-arrow-up"></i>
              <i *ngIf="!nameArrow" class="fa fa-arrow-down"></i>
            </button>
          </th>
          <th>Price
            <button (click)="onSortBy('price')">
              <i *ngIf="priceArrow" class="fa fa-arrow-up"></i>
              <i *ngIf="!priceArrow" class="fa fa-arrow-down"></i>
            </button>
          </th>
          <th>Tax
            <button (click)="onSortBy('tax')">
              <i *ngIf="taxArrow" class="fa fa-arrow-up"></i>
              <i *ngIf="!taxArrow" class="fa fa-arrow-down"></i>
            </button>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of filteredProducts">
          <td>{{ product.itemNumber }}</td>
          <td>
              {{ product.itemName }}
          </td>
          <td>{{ product.netPrice | currency:'HUF':'symbol'}}</td>
          <td>{{ product.tax | percent }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div *ngIf='errorMessage'
     class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>
